.attachedUnit {
  background: lightblue;
}

.dataCard {
  background: black;
  color: white;
  width: 95%;

  .leaderChange {
    color: darkred;
  }

  .secondLeaderChange {
    color: blue;
  }

  .detachmentChange {
    color: darkorange;
  }

  .enhancementChange {
    color: darkgreen;
  }

  .dataCardHeader {
    .dataCardHeaderItem {
      flex-direction: column;
      .statHeader {
        display: block;
      }
      .statBox {
        background: white;
        color: black;
        width: 40%;
        text-align: center;
      }
    }
  }
  .dataCardBody {
    background: white;

    .weaponTable {
      .weaponHeader {
        th {
          color: white;
          background: black;
          border: 0;
          width: 5%;

          &:nth-child(2) {
            width: 55%;
          }

          &:nth-child(3) {
            width: 15%;
          }
        }
      }
      .weaponRow {
        td {
          border-bottom-width: 0;
        }
        .weaponAbilities {
          display: block;
          font-weight: 700;
        }
        .weaponDetachmentAbilities {
          display: block;
          font-weight: 700;
        }
        .weaponLeaderAbilities {
          display: block;
          font-weight: 700;
        }
        .weaponEnhancementAbilities {
          display: block;
          font-weight: 700;
        }
      }
      .oddWeaponGroup {
        td {
          background: white;
        }
      }
      .evenWeaponGroup {
        td {
          background-color: lightgray;
        }
      }
      .weaponGroupEnd {
        border-bottom-width: 2px;
        border-bottom-color: black;
        border-bottom-style: dotted;
      }
    }

    .abilityTable {
      .abilityHeader {
        th {
          color: white;
          background: black;
          border: 0;
        }
      }
      .abilityRow {
        border-bottom-style: dotted;
        border-bottom: 1px;
        &:nth-child(even) {
          td {
            background: lightgray;
          }
        }
        td {
          background: white;
        }
      }
    }

    .damagedTable {
      .damagedHeader {
        th {
          color: white;
          background: black;
          border: 0;
        }
      }
    }

    .leaderBox {
      color: black;
    }
  }
  .keywordFooter {
    background: white;
    color: black;

    .keywords {
      background: lightgrey;
    }

    .factionKeywords {
      background: black;
      color: white;
    }
  }
}
